
.password-container{
    display: flex;
    align-items: start;
    margin: 20px auto;
    
}

.password-label{
    margin: 15px 25px 25px;
}

.password{
    width: 100%;
}
.pattern-rules{
    padding: 0 10px;
}

.pattern-rule{
    list-style-type: none;
    background: url('../../mark.svg') no-repeat 0rem  0.3rem;
    line-height: 40px;
    height: 40px;
    padding: 0 30px;
}

.password legend{
    width: 60px;
}

