.password-container{
    display: flex;
    align-items: center;
    margin: 20px auto;
    color: rgb(155, 152, 152);
    font-weight: 400;
    font-size: 15px;
}

.password-label{
    padding: 0 25px;
}



